version: '3.8'

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: surf-dqt-backend
    restart: unless-stopped
    environment:
      - NODE_ENV=production
      - PORT=3458
    ports:
      - "3458:3458"
    networks:
      - app-network

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: portfolio-frontend
    restart: unless-stopped
    ports:
      - "127.0.0.1:8080:3457"
    depends_on:
      - backend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
