@layer normalize {
  sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  
  button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
  }
  
  html {
    font-family: sans-serif;
  }
  
  html input[type="button"] {
    cursor: pointer;
  }
  
  html input[disabled] {
    cursor: no-drop;
  }
  
  body {
    margin: 0;
  }
  
  article,
  aside,
  details,
  figcaption,
  footer,
  header,
  hgroup,
  main,
  menu,
  nav,
  section,
  summary,
  figure {
    display: block;
  }
  
  figure {
    margin: 1em 40px;
  }
  
  audio,
  canvas,
  progress,
  video {
    display: inline-block;
    vertical-align: baseline;
  }
  
  audio {
    display: inline-block;
    vertical-align: baseline;
  }
  
  audio:not([controls]) {
    display: none;
    height: 0;
  }
  
  [hidden],
  template {
    display: none;
  }
  
  a {
    background-color: transparent;
  }
  
  a:active {
    outline: 0;
  }
  
  a:hover {
    outline: 0;
  }
  
  abbr[title] {
    border-bottom: 1px dotted;
  }
  
  b,
  strong {
    font-weight: bold;
  }
  
  dfn {
    font-style: italic;
  }
  
  mark {
    background: yellow;
    color: black;
  }
  
  small {
    font-size: 80%;
  }
  
  sub {
    bottom: -0.25em;
  }
  
  sup {
    top: -0.5em;
  }
  
  img {
    border: 0;
  }
  
  hr {
    height: 0;
  }
  
  pre,
  code,
  kbd,
  samp {
    font-family: monospace, monospace;
    font-size: 1em;
  }
  
  pre {
    overflow: auto;
  }
  
  button {
    overflow: visible;
    text-transform: none;
    cursor: pointer;
  }
  
  input {
    line-height: normal;
  }
  
  optgroup {
    font-weight: bold;
  }
  
  select {
    text-transform: none;
  }
  
  textarea {
    overflow: auto;
  }
  
  input[type="reset"],
  input[type="submit"] {
    cursor: pointer;
  }
  
  button[disabled] {
    cursor: default;
  }
  
  button::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
  
  input::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
  
  input[type="checkbox"],
  input[type="radio"] {
    padding: 0;
  }
  
  input[type="number"]::-webkit-inner-spin-button {
    height: auto;
  }
  
  input[type="number"]::-webkit-outer-spin-button {
    height: auto;
  }
  
  fieldset {
    border: 1px solid #C0C0C0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
  }
  
  legend {
    border: 0;
    padding: 0;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  td,
  th {
    padding: 0;
  }
  
  svg:not(:root) {
    overflow: hidden;
  } 
}
