/**
 * This file should NOT contain any styling (classes or IDs). It should only contain
 * variables, functions, mixins, etc. Any new, abstract, project-to-project portable
 * functions can be added here.
 */

@use 'sass:math';
@use 'sass:selector';
@use 'sass:list';

/**
 * Convert pixel-value leading (line-height) to relative leading
 */

@function leading($lineHeight, $fontSize) {
  @return math.div(math.round(10 * math.div($lineHeight, $fontSize)), 10);
}

/**
 * Convert pixels to rems
 */

@function toRem($value) {
  @return math.div($value, 16) + rem;
}

@mixin shadow1 {
  box-shadow: 1px 0px 1rem 1px rgba(154, 148, 117, 0.7);
}

@mixin shadow2 {
  box-shadow: 1px 0px 8px 1px rgba(154, 148, 117, 0.12);
}

@mixin focusBoxShadow {
  box-shadow: 0 0 0 5px rgba(0, 123, 255, 0.5);
}

@mixin focusBoxShadowSmall {
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}

@mixin focusBoxShadowLink {
  box-shadow: 0 0 0 5px rgba(0, 123, 255, 0.5);
  border-radius: 0.125rem;
}

@mixin selection-dark {
  // ::-moz-selection { background-color: #{}; }
  // ::selection { background-color: #{}; }
}

@mixin selection-light {
  // ::-moz-selection { background-color: #{}; }
  // ::selection { background-color: #{}; }
}

@mixin descendingZindex($n) {
  @for $i from 1 through $n {
    &:nth-child(#{$i}) {
      position: relative;
      z-index: #{$n - $i};
    }
  }
}

@mixin optional-at-root($sel) { @at-root #{if(not &, $sel, selector.append(&, $sel))} { @content; } }
@mixin placeholder {
  @include optional-at-root('::-webkit-input-placeholder') { @content; }
  @include optional-at-root(':-moz-placeholder') { @content; }
  @include optional-at-root('::-moz-placeholder') { @content; }
	@include optional-at-root(':-ms-input-placeholder') { @content; }
	@include optional-at-root('::-ms-input-placeholder') { @content; }
  @include optional-at-root('::placeholder') { @content; }
}
