/* @font-face {
  font-family: 'Monument Grotesk';
  src: url('../fonts/monument-grotesk/mono.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
} */

@font-face {
  font-family: 'Inconsolata';
  src: url('../fonts/inconsolata/variable.ttf') format('truetype-variations');
  font-weight: 100 900;
}
